* text=auto
*.php text diff=php eol=lf
*.yml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.lock text eol=f

tests/ export-ignore
phpunit.xml export-ignore
phpstan.neon export-ignore
phpstan-baseline.neon export-ignore
bin/ export-ignore
.gitattributes export-ignore
.github/ export-ignore
.editorconfig export-ignore
