parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$function of class ReflectionFunction constructor expects Closure\\|string, \\(callable\\(\\)\\: mixed\\)\\|string given\\.$#"
			count: 1
			path: src/Container.php

