parameters:
	paths:
		- src/
	level: max
	excludePaths:
		- %currentWorkingDirectory%/src/compiled_template.php
	ignoreErrors:
		- '#class-string<T of object>\|T of object#'
includes:
    - ./phpstan-baseline.neon
